.hero__section {
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2em;
}

.hero__section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__section-left-tagline {
  font-weight: bold;
  border: 2px solid black;
  padding: 0.6em;
  border-radius: 50vw;
  letter-spacing: 0.25px;
  width: 50%;
  text-align: center;
}

.hero__section-title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  margin-bottom: 2rem;
}

.hero__section-btn {
  margin: 0 0 4rem 0;
}

.hero__section-btn > button {
  padding: 0.8em;
  border: none;
  background-color: var(--BUTTON-COLOR);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  background-color: var(--BUTTON-COLOR);
  color: var(--WHITE-COLOR);
  cursor: pointer;
}

.hero__section-right {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .hero__section {
    margin-right: 1em;
    margin-left: 1em;
  }

  .hero__section-left-tagline {
    width: 80%;
    text-align: center;
  }

  .hero__section-title {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__section-left-tagline {
    width: 70%;
  }

  .hero__section-title {
    text-align: center;
  }
}

@media screen and (max-width: 611px) {
  .hero__section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__section-left {
    justify-content: center;
    align-items: center;
  }

  .hero__section-left-tagline {
    width: 80%;
  }

  .hero__section-title {
    text-align: center;
  }
}

@media screen and (max-width: 396px) {
  .hero__section-right {
    display: block;
  }

  .hero__section-title {
    text-align: center;
  }
}
